html, body
  background-color #fff
  margin 0 auto
  padding 2rem 2.5rem
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  word-spacing 1px
  font-family $fontFamily
  font-size $fontSize
  color $textColor
  max-width $contentWidth
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem
    

